html, body {
    height: 100%;
    color: antiquewhite;
}

body {
    margin: 0;

    background: linear-gradient(45deg, #BF3475 0%, #EE6C45 50%, #FFCE61 100%),no-repeat;
    background-size: cover;

}

body ul{
    margin-left:auto;
    margin-right:auto;
    text-decoration: none;
    width:400px;

}
