article{
    background-color: lightgray;
    padding-top: 60px;
    margin-top: 5px;

}
body{
    margin: 0 auto;
    width: 95%;


}
h2{
    text-decoration: underline;
    font-size: 30px;
    text-decoration-color: Black;
    color: black;
    margin: 5px;
}
.head h1{
    color: white;
}
.head {
    height: 120px;
    background-image: url("../Images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 40px;
}
nav{
    background-color: rgb(68 68 68);
    padding-left: 10px;


}
nav a{
    color: rgb(86 255 136);
    text-decoration: none;
}
