body {
    width: 95%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;

}

header {
    background-image: url("../images/bgsky3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;

}

header p {
    margin: auto;
    text-align: center;
    color: darkblue;
}

header p:first-child {
    font-size: 300%;
    font-style: italic;
    font-weight: bold;

}
header p:nth-child(2) {
    font-size: 240%;
    font-weight: bold;

}
header img {
    position: absolute;
    top: 10%;
    left: 50%;
}