table {
    border-collapse: collapse;
    border: 2px solid black;
}

thead {
    background-color: rgb(170,170,200);
}

tr, td {
    border: 1px dotted grey;
}

tbody tr .other-month {
    background-color: lightgrey ;
    color: grey;
}
td:first-child, td:last-child {
    background-color: rgb(255, 220, 220);
}
.holiday {
    background-color:  rgb(250,120,120) !important;
}

.days td {
    color: rgb(200,190,240);
    background-color: rgb(35,37,70);
}
.event {
    color: cornflowerblue;
    text-decoration: underline;

}
