a{
    background-image: url("/Labo_6/Opdracht_5/sources/Images/googleLogo.jpg") ;
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 20px;
}

