body{
    font-family: Verdana, Geneva, Tahoma, Verdana, sans-serif;
    font-size: 1.1em;

}
h1{
    font-variant: small-caps;
    color: darkblue;

}

li a:hover{
    border: black solid 1px;

}

.stippeltjesrand{
    border: black dotted 1px;

}