html {
    background-color: #333;
    font-family: helvetica, serif;
}

* {
    padding: 10px;
}
body {
    background-color: #333;
    font-size: 1em;
    margin: 5px;

}
header,footer{
    background-color: #ddaa00;
}
header,footer a:hover{
    color: #ddaa00;
}
nav{
    background-color: #ccc;
    padding: 5px 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
main{
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    margin: 5px;
}
section a{
    border: 1px #333 solid;
}
nav>a{
    margin:0 5px;
    border: 1px #333 solid;
    background-color: white;


}
a{
    border: 1px #333 solid;
    background-color: white;
    text-decoration: none;
    text-underline: none;
    color: grey;
}
a:hover{
    text-decoration: none;
    text-underline: none;
}
h1{
    margin: 0;
    color: white;
}
img{
    padding: 0;
}

div{
    background-color: white;
    margin: 10px;
    padding: 10px;
}
@media screen and (min-width:700px){
    main{
        flex-direction: row;
        justify-content: space-evenly;

    }




}

